/*---------------------------------------------------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  2606                                  |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
Build  : _481094f-20260618 OPENFOAM=2606 version=2606
Arch   : "LSB;label=32;scalar=64"
Exec   : postProcess -func sampleDict -time 4.4996781973:6.000140535443
Date   : Jul 28 2026
Time   : 22:48:42
Host   : ip-172-31-43-247
PID    : 29383
I/O    : uncollated
Case   : /home/ubuntu/Certonomous/demo-output/website/campaign/F4_runs/cyl/M7.0/coarse
nProcs : 1
trapFpe: Floating point exception trapping enabled (FOAM_SIGFPE).
memory pool : not available
fileModificationChecking : Monitoring run-time modified files using timeStampMaster (fileModificationSkew 5, maxFileModificationPolls 20)

--> FOAM Warning : allowSystemOperations : Allowing user-supplied system call operations.
                   This can be a security risk if running untrusted cases
                   through e.g. 'coded' on-the-fly-compilation functionality.

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
Create time

Create mesh for time = 4.4996781973

Sampled set:
    r0 -> raw
    r1 -> raw
    r2 -> raw
    r3 -> raw
    r4 -> raw
    r5 -> raw
    r6 -> raw

Time = 4.4996781973

Reading fields:
    volScalarField: T p rho

Executing functionObjects

Time = 5.25048595117

Reading fields:
    volScalarField: T p rho

Executing functionObjects

Time = 6.000140535443

Reading fields:
    volScalarField: T p rho

Executing functionObjects

End

