/*---------------------------------------------------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  2606                                  |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
Build  : _481094f-20260618 OPENFOAM=2606 version=2606
Arch   : "LSB;label=32;scalar=64"
Exec   : postProcess -func sampleDict -time 4.500195504:6.00010974532
Date   : Jul 28 2026
Time   : 22:50:52
Host   : ip-172-31-43-247
PID    : 34711
I/O    : uncollated
Case   : /home/ubuntu/Certonomous/demo-output/website/campaign/F4_runs/cyl/M8.0/medium
nProcs : 1
trapFpe: Floating point exception trapping enabled (FOAM_SIGFPE).
memory pool : not available
fileModificationChecking : Monitoring run-time modified files using timeStampMaster (fileModificationSkew 5, maxFileModificationPolls 20)

--> FOAM Warning : allowSystemOperations : Allowing user-supplied system call operations.
                   This can be a security risk if running untrusted cases
                   through e.g. 'coded' on-the-fly-compilation functionality.

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
Create time

Create mesh for time = 4.500195504

Sampled set:
    r0 -> raw
    r1 -> raw
    r2 -> raw
    r3 -> raw
    r4 -> raw
    r5 -> raw
    r6 -> raw

Time = 4.500195504

Reading fields:
    volScalarField: T p rho

Executing functionObjects

Time = 5.2498826573

Reading fields:
    volScalarField: T p rho

Executing functionObjects

Time = 6.00010974532

Reading fields:
    volScalarField: T p rho

Executing functionObjects

End

